@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1240px;
    margin: 0 auto;
    height: 600px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.banner-title {
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-subtitle {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.offer {
    width: 1240px;
    margin: 0 auto;
    text-align: center;
}

.offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
}

.offer-desc {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}

.offer-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
}

.new-year-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.event {
    width: 1240px;
    margin: 80px auto;

}

.event-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 14px;
    padding: 100px 385px;
    text-align: center;
}

.event-info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.event-desc {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.btn {
    border-radius: 8px;
    background: #F00;
    color: #fff;
    border: 0;
    padding: 10px 15px;
}

.bonus-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.bonus-one, .bonus-two, .bonus-three{
    width: 33%;
}
.bonus-two{
    border:10px solid #F00;
    padding: 15px;
    border-radius: 100%;
    text-align: center;
    margin-inline-start: 40px;
}
.bonus-title{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.bonus-title2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.bonus-p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}