@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1240px;
    margin: 0 auto;
    height: 600px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.banner-title {
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-subtitle {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.offer{
    width: 1240px;
    margin:  0 auto; 
    text-align: center;
}
.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
}
.offer-desc{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}
.offer-category{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
}
.new-year-img{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}